{% extends "layouts/app_base.html" %}

{% block title %}Confirm Deposit - Secure Bank{% endblock %}
{% block page_title %}Deposit{% endblock %}
{% block page_subtitle %}Confirm your deposit{% endblock %}

{% block content %}

<div class="card">

    <div class="panel-head deposit">
        <h2>Deposit</h2>
        <p>Add funds to your account</p>
    </div>

    <div class="panel-body">

        <div class="summary-box">
            <div>Type</div>
            <div>Deposit</div>
        </div>

        <div class="summary-box">
            <div>Amount</div>
            <div>${{ amount }}</div>
        </div>

        <form method="POST" action="{{ url_for('transactions.deposit_confirm') }}">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="amount" value="{{ amount }}">

            <button class="btn primary">
                Confirm Deposit
            </button>

        </form>

        <a href="{{ url_for('transactions.deposit') }}">Back</a>

    </div>

</div>

{% endblock %}